@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
    Napoles: ****<br />
    <abbr title="Phone">Phone:</abbr>
    1124830571
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:nicolaseduardogiron@gmail.com">nicolaseduardogiron@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:nicolaseduardogiron@gmail.com">nicolaseduardogiron@gmail.com</a>
</address>