@model Lab.MVC.Models.Root
@{
    ViewBag.Title = "Public Api";
}
<h2> Datos ApiPublica </h2>
<A HREF="https://jsonplaceholder.typicode.com/todos/1">Link de api</A>
<h3>UserId: @Model.userId </h3>
<h3>Id: @Model.id </h3>
<h3>Title: @Model.title </h3>
<h3>Completed: @Model.completed

